h1{
  font-family: Helvetica;
  color: #0F3376;
}

.WD_TYPE0 {
    border: 5px ridge #CED4DA;
    border-radius: 10px;
}

td:first-child {
  text-align:right;
}

table{
  margin:auto;
}

input, select, option{
  margin:auto;
  text-align:center;
  text-align-last: center;
}

span {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.drop {
    margin-top: 20px;
    border:1px solid #CED4DA;
    border-radius: .25rem;
}